---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// ------------------------------------------------------------ 
// Publications page
// ------------------------------------------------------------
* {
  box-sizing: border-box;
}

/* Create two columns that floats next to each other */
.column-logo {
  float: left;
  padding: 25px 15px 15px 15px;
  width: 12%;
}
.column-desc {
  float: left;
  padding: 15px;
  width: 88%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img.img-logo {
  width: 60px;
}

// ------------------------------------------------------------ 
// News page
// ------------------------------------------------------------
.news-photo {
  width: 200px;
  margin-right: 20px;
}

.news-date {
  padding: 5px 10px 7px 40px;
  background-color: $primary-color;
  color: #fff;
  font-size: $type-size-6;
}

.news-item {
  margin-top: -20px;
  margin-bottom: 50px;
}

.news-label {
  padding: 5px 10px 7px 10px;
  font-size: $type-size-6;
}

.news-label.feature {
  background-color: #f58025;
  color: #fff;
}
.news-label.research-update {
  background-color: #0092ca;
  color: #fff;
}

// ------------------------------------------------------------ 
// Projects page
// ------------------------------------------------------------
.projects-logo {
  width: 200px;
}